body {
    background: #0f172a;
    color: white;
    font-family: Arial;
}

.chat-container {
    width: 400px;
    margin: 50px auto;
    background: #1e293b;
    padding: 20px;
    border-radius: 15px;
}

.chat-box {
    height: 300px;
    overflow-y: scroll;
    background: #020617;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

input {
    width: 70%;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

button {
    padding: 10px;
    border-radius: 10px;
    background: #38bdf8;
    border: none;
    cursor: pointer;
}