    <!DOCTYPE html>
<html>
<head>
    <title>CipherChat 🌐🔐</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="chat-container">
    <div class="chat-box" id="chat"></div>

    <input id="msg" placeholder="Type message..." />
    <button onclick="sendMsg()">Send</button>
</div>

<script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>

<script>
let socket = io();
let username = prompt("Enter your username");

socket.emit('join', {username: username});

function sendMsg() {
    let msg = document.getElementById("msg").value;
    socket.send({msg: msg});
    document.getElementById("msg").value = "";
}

socket.on('message', function(data) {
    let chat = document.getElementById("chat");
    chat.innerHTML += "<div>" + data + "</div>";
    chat.scrollTop = chat.scrollHeight;
});
</script>

</body>
</html>